
@{
    ViewBag.Title = "Login";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/Styles/login.css")" />
}
<div class="container">
    <aside>
        <div id="encabezado">
            <img id="logotecNac" src="~/Content/Images/logoTNM.png" alt="">
            <div class="texto">
                <p id="p1">TECNOLÓGICO NACIONAL DE MÉXICO</p>
                <P id="p2">INSTITUTO TECNOLÓGICO DE LA PAZ </P>
            </div>
        </div>

        <div class="texto">
            <p id="p3">Bienvenido</p>
            <P id="p4">Inicia sesión abajo para ver el contenido de tus materias, historial y otras funciones</P>
        </div>

        <div>
            <form>
                <input class="txt" id="controlNumber" type="text"  placeholder="No. de control">
                <input class="txt" id="password" type="password"  placeholder="Contraseña">
                <input id="loginButton" class="boton" type="button" value="ENTRAR">
            </form>
        </div>

        <p id="registro">
            <a style="color:white" href="/Inscripcion">¿No tienes cuenta? Registrate aquí</a>
        </p>
    </aside>
    <main>
        <div id="logo">
            <img src="~/Content/Images/Logo_Mesa de trabajo 1.png" alt="">
        </div>

        <div id="presentacion">
            <div class="imgtext">
                <img class="imagen" src="~/Content/Images/Timetable_500px.png" alt="">
                <P class="textp">Toma el control de tus materias</P>
            </div>
            <div class="imgtext">
                <img class="imagen" src="~/Content/Images/Combo Chart_520px.png" alt="">
                <P class="textp">Gestiona el progreso de tu formación academica</P>
            </div>
            <div class="imgtext">
                <img class="imagen" src="~/Content/Images/Helping Hand_500px.png" alt="">
                <P class="textp">Ontén ayuda acerca de tus clases, retícula y profesores</P>
            </div>

        </div>

    </main>
    <footer>
        <img id="logotec" src="~/Content/Images/logo-instituto-tecnologico-de-la-paz Mejorado.png" alt="">
        <p id="copyRight">
            ©2011-Instituto Tecnológico de La Paz
            Boulevard Forjadores de Baja California Sur No.4720 Apdo. Postal 43-B, C.P. 23080 La Paz, B.C.S., México.
            Tels. (612) 12-104-24, 12-104-26, 12-107-05 Fax (612) 12-112-95
        </p>
        <p class="textofooter">Acerca de</p>
        <p class="textofooter">Términos y condiciones</p>
        <p class="textofooter">SIIE 2018</p>
    </footer>
</div>

