
@{
    ViewBag.Title = "Login";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/MainStyle.css")" />
}
<div class="modal"></div>
<img id="cerrar" src="~/Content/Images/close.png" title="Cerrar">
<img id="libs" src="~/Content/Images/libros.png" title="">
<div class="login">

    <img src="~/Content/Images/descarga.png" alt="">
    <h1>Bienvenido</h1>
    <h3>Inicia ses&iacute;on abajo para ver el contenido de tus materias, historial, y otras funciones.</h3>
    <form action="#">
        <label for="username">Nombre de usuario</label><br><br>
        <input type="text" id="controlNumber" placeholder="No. de Control" required><br><br>
        <label for="contra" id="con">Contrasena</label><br><br>
        <input type="password" id="password" placeholder="Contrasena" required><br><br>
        <label for="recordar"></label>
        <input type="button" id="login" value="Entrar"><br>
        <a href="/Inscripcion">Reg&iacute;strarse</a>
    </form>
</div>
<div class="main">
    <h1 class="content">SIIE</h1>
    <h2 class="content">TOMA EL CONTROL DE TUS MATERIAS</h2>
    <h2 class="content"> GESTIONA EL PROGRESO DE TU INFORMACION ACADEMICA</h2>
    <h2 class="content">OBTEN AYUDA DE ACERCA DE TUS CLASES, RETICULA Y PROFESORES</h2>
</div>
<script type="text/javascript">

    $(document).ready(function(){


        $("#regis").click(function(){

                $(".modal").fadeIn();
                $(".registro").fadeIn();
                $("#cerrar").fadeIn();

        });
        $(".modal").click(function(){
            $(".registro").fadeOut();
            $(this).fadeOut();
            $("#cerrar").fadeOut();
        });

        $("#cerrar").click(function(){
            $(".registro").fadeOut();
            $(this).fadeOut();
            $(".modal").fadeOut();
        });



        });
</script>

<footer>
    Boulevard forjadores, Instituto tecnologico de La Paz B.C.S,Mexico. 2018
</footer>
