
@{
    ViewBag.Title = "Login";
}

<div class="modal"></div>
<img id="cerrar" src="~/Content/Images/close.png" title="Cerrar">
<img id="libs" src="~/Content/Images/libros.png" title="">
<div class="registro">
    <form action="#" id="registro">
        <label for="registrarNombre" class="registrar">Nombre de usuario</label><br><br>
        <input type="text" class="registrar" name="registrarNombre" id="rn" required><br><br>
        <label for="registrarContra" class="registrar">contrasena</label><br><br>
        <input type="text" class="registrar" name="registrarConta" id="rc" required><br><br>

        <label for="confirmarContra" class="registrar">Confirmar contrasena</label><br><br>
        <input type="text" class="registrar" name="confimarConta" id="rc"><br><br><br>
        <input type="submit" id="r" value="Registrar"><br>
    </form>
</div>
<div class="login">

    <img src="~/Content/Images/descarga.png" alt="">
    <h1>Bienvenido</h1>
    <h3>Inicia ses&iacute;on abajo para ver el contenido de tus materias, historial, y otras funciones.</h3>
    <form action="#">
        <label for="username">Nombre de usuario</label><br><br>
        <input type="text" name="username" id="controlNumber" placeholder="No. de Control" required><br><br>
        <label for="contra" id="con">Contrasena</label><br><br>
        <input type="text" name="contra" id="password" placeholder="Contrasena" required><br><br>
        <label for="recordar"></label>

        <input type="submit" id="login" value="Entrar"><br>
        <a href="#">Olvidaste tu contrasena?</a><br><br><br>
        <a href="#" id="regis">A&uacute;n no tienes cuenta? Reg&iacute;strate aqu&iacute;.</a>
    </form>
</div>
<div class="main">

    <h1 class="content">SIIE</h1>

    <h2 class="content">TOMA EL CONTROL DE TUS MATERIAS</h2>
    <h2 class="content"> GESTIONA EL PROGRESO DE TU INFORMACION ACADEMICA</h2>
    <h2 class="content">OBTEN AYUDA DE ACERCA DE TUS CLASES, RETICULA Y PROFESORES</h2>
</div>
<script type="text/javascript">

    $(document).ready(function(){


        $("#regis").click(function(){

                $(".modal").fadeIn();
                $(".registro").fadeIn();
                $("#cerrar").fadeIn();

        });
        $(".modal").click(function(){
            $(".registro").fadeOut();
            $(this).fadeOut();
            $("#cerrar").fadeOut();
        });

        $("#cerrar").click(function(){
            $(".registro").fadeOut();
            $(this).fadeOut();
            $(".modal").fadeOut();
        });



        });
</script>

<footer>
    Boulevard forjadores, Instituto tecnologico de La Paz B.C.S,Mexico. 2018
</footer>
