
@{
    ViewBag.Title = "CreateMateria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/Styles/materias.css")" />
}
<div id="content">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <h1>Crear Materia</h1>
    <div class="nuevoMaestro">
        <label for="nombre">nombre</label>
        <input type="text" class="form-control" name="nombre"  id="NombreMateria" required>
        <label for="ab">abreviacion</label>
        <input type="text" class="form-control" name="ab" id="AbreviacionMateria"><br>
        <label for="cl">clave</label>
        <input type="text" name="cl" class="form-control" id="Clave">
        <label for="cre">creditos</label><br>
        <input type="text" name="cre" class="form-control" id="Creditos">
        <label for="ht">horas teoricas</label><br>
        <input type="number" name="ht" class="form-control" maxlength="5" id="HrsTeoricas" required>
        <label for="hp">horas practicas</label><br>
        <input type="text" name="hp" class="form-control" maxlength="10" id="HrsPracticas"><br><br>
        <label for="pe">plan de estudio</label><br>
        <input type="text" name="pe" class="form-control" maxlength="10" id="PlanEstudios"><br><br>
        <input type="submit" id="editMateria" value="Guardar materia">
    </div>
</div>