@model List<SIIE.Models.Alumno>

@{
    ViewBag.Title = "Listado Tutorados";
    ViewBag.MainBreadcrumb = "Tutorados";
    ViewBag.ChildBreadCrumb = "Listado";
    ViewBag.ActiveTutorados = "active";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-user"></i>&nbsp; Tutorados
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Num. Control</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Carrera</th>
                        <th>Cursando</th>
                        <th>Recomendaciones</th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (var alumno in Model)
                    {
                    <tr>
                        <td>@alumno.Loginn.noControl</td>
                        <td>@alumno.Nombre</td>
                        <td>@alumno.ApellidoP</td>
                        <td>@alumno.Carrera.NombreCarrera</td>
                        <td><a href="/Tutorias/Tutorados/Cursando/@alumno.Loginn.Alumno.FirstOrDefault().idAlumno">Ver Tutorias</a></td>
                        <td><a href="/Tutorias/Tutorados/Recomendaciones/@alumno.Loginn.Alumno.FirstOrDefault().idAlumno">Recomendaciones</a></td>
                    </tr>
                    }
                </tfoot>
            </table>
        </div>
    </div>
</div>
