@model List<SIIE.Models.Tutores>

@{
    ViewBag.Title = "Listado Tutores";
    ViewBag.MainBreadcrumb = "Tutores";
    ViewBag.ChildBreadCrumb = "Listado";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-user"></i>&nbsp; Tutores
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre(es)</th>
                        <th>Apellido</th>
                        <th>Tutorias</th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach(var tutor in Model)
                    { 
                    <tr>
                        <td>@tutor.Loginn.Maestro.FirstOrDefault().Nombre</td>
                        <td>@tutor.Loginn.Maestro.FirstOrDefault().ApellidoP</td>
                        <td><a href="/Tutorias/Tutores/Imparte/@tutor.Id">Ver Tutorias Que Imparte</a></td>
                    </tr>
                    }
                </tfoot>
            </table>
        </div>
    </div>
</div>