
@{
    ViewBag.Title = "Listado Tutores";
    ViewBag.MainBreadcrumb = "Tutores";
    ViewBag.ChildBreadCrumb = "Listado";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<h2>ListaTutores</h2>

