@model List<SIIE.Models.Tutorias>

@{
    ViewBag.Title = "Listado Tutorias";
    ViewBag.MainBreadcrumb = "Tutorias";
    ViewBag.ChildBreadCrumb = "Listado";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>&nbsp; Horarios disponibles
        <button class="btn btn-primary" style="float:right" onclick="location.href='/Tutorias/Create'">Ingresar Tutoria</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Tutor</th>
                <th>Materia</th>
                <th>Alumnos</th>
                <th>Horario</th>
            </tr>
            </thead>
            <tfoot>
@foreach(var materia in Model)
{
            <tr>
                <td><a href="">materia.Name</a></td>
                <td>materia.Tutores.Loginn.Maestro.FirstOrDefault().Nombre</td>
                <td>materia.Materia.NombreMateria</td>
                <td><a href="">Ver Alumnos</a></td>
                <td><a href="">Ver Horario</a></td>
            </tr>
}
            </tfoot>
        </table>
        </div>
    </div>
</div>
