
@{
    ViewBag.Title = "Listado Tutorados";
    ViewBag.MainBreadcrumb = "Tutorados";
    ViewBag.ChildBreadCrumb = "Listado";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<h2>ListaAlumnos</h2>

