
@{
    ViewBag.Title = "Listado Tutorados";
    ViewBag.MainBreadcrumb = "Tutorados";
    ViewBag.ChildBreadCrumb = "Listado";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-user"></i>&nbsp; Tutorados
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Num. Control</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Carrera</th>
                        <th>Recomendaciones</th>
                        <th>Tutorias</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>13310569</td>
                        <td>Daniel</td>
                        <td>Osuna</td>
                        <td>Sistemas Computacionales</td>
                        <td>Ver Recomendaciones</td>
                        <td><a href="">Ver Tutorias</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
