@{
    ViewBag.Title = "Dasboard";
}

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Inicio <img src="~/Content/Images/Home.png" alt="" width="30" height="30"></a>
        <a href="#">Cursando</a>
        <a href="#">Seguimiento acad&eacute;mico</a>
        <a href="#">Historial acad&eacute;mico</a>
        <a href="#"> Encuestas</a>
        <a href="#"> Boletas e impresiones</a>
        <a href="javascript:void(0)" id="logout">Cerrar Sesion</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <script>
              function openNav() {
                  document.getElementById("mySidenav").style.width = "250px";
              }

              function closeNav() {
                  document.getElementById("mySidenav").style.width = "0";
              }
    </script>
    <h3 id="dash">INICIO dashboard</h3>
    <div class="jumbotron text-center">
        <h1>DATOS DEL ALUMNO</h1>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>div para calendario</h3>
                <p>dfgdfgdfgdfgdfgdfg</p>
                <p>dfgdfgdfgdfgdfg</p>
            </div>
            <div class="col-sm-4">
                <h3>aqui se muestran materias cursando actualmente</h3>
                <p>calculo</p>
                <p>programacion...</p>
            </div>

        </div>
    </div>
