
@{
    ViewBag.Title = "AcademicHistory";
}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">
        Inicio
        <img src="assets/home.png" alt="" width="30" height="30">
    </a>
    <a href="#">Cursando</a>
    <a href="#">Seguimiento acad&eacute;mico</a>
    <a href="#">Historial acad&eacute;mico</a>
    <a href="#"> Encuestas</a>
    <a href="#"> Boletas e impresiones</a>
</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>

<h3 id="dash">Seguimiento academico</h3>


<div class="container">
    <p>numero de control del alumno</p>
    <p>nombre </p>
    <p>carrera del alumno</p>
    <br>
    <p>plan</p>
    <p>modulo de especialidad</p>
    <p>creditos</p>
    <p>promedio</p>
    <p class="ult">creditos complementarios</p>

    <div class="fila1">
        <div class="materiasAp">
        </div>

        <div class="materiasAp">
        </div>

        <div class="materiasAp">
        </div>

        <div class="materiasAp">
        </div>

        <div class="materiasAp">
        </div>
        <div class="materiasAp materiasCur">
        </div>
        <div class="materiasAp materiasPen">
        </div>
        <div class="materiasAp materiasPen">
        </div>
        <div class="materiasAp materiasPen">
        </div>
        <div class="materiasAp materiasPen ">
        </div>
        <br>
        <div class="materiasAp ult">
        </div>

    </div>

    <div class="materiasAp">
    </div>

    <div class="materiasAp">
    </div>

    <div class="materiasAp">
    </div>

    <div class="materiasAp">
    </div>
    <div class="materiasAp materiasCur">
    </div>
    <div class="materiasAp materiasPen">
    </div>
    <div class="materiasAp materiasPen">
    </div>
    <div class="materiasAp materiasPen">
    </div>


    <div class="fila1">

        <div class="materiasAp ult ">
        </div>

    </div>


    <div class="materiasAp">
    </div>

    <div class="materiasAp">
    </div>

    <div class="materiasAp">
    </div>

    <div class="materiasAp">
    </div>
    <div class="materiasAp materiasCur">
    </div>
    <div class="materiasAp materiasPen">
    </div>
    <div class="materiasAp materiasPen">
    </div>
    <div class="materiasAp materiasPen">
    </div>

</div>



<div class="fila4">

    <div class="materiasAp ult ">
    </div>

</div>


<div class="materiasAp">
</div>

<div class="materiasAp">
</div>

<div class="materiasAp">
</div>

<div class="materiasAp">
</div>
<div class="materiasAp materiasCur">
</div>
<div class="materiasAp materiasPen">
</div>
<div class="materiasAp materiasPen">
</div>
<div class="materiasAp materiasPen">
</div>

    </div>




<div class="fila4">

    <div class="materiasAp ult ">
    </div>

</div>


<div class="materiasAp">
</div>

<div class="materiasAp">
</div>

<div class="materiasAp">
</div>

<div class="materiasAp">
</div>
<div class="materiasAp materiasCur">
</div>
<div class="materiasAp materiasPen">
</div>
<div class="materiasAp materiasPen">
</div>


    </div>


<div class="fila4">

    <div class="materiasAp ult ">
    </div>

</div>


<div class="materiasAp">
</div>

<div class="materiasAp">
</div>

<div class="materiasAp">
</div>

<div class="materiasAp">
</div>
<div class="materiasAp materiasCur">
</div>
<div class="materiasAp materiasPen">
</div>
<div class="materiasAp materiasPen">
</div>


    </div>











    </div>
