@model SIIE.Models.Materia[]

@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/Styles/materias.css")" />
}
<div id="content">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

    </nav>

    <h1>Materias</h1>
    <table border="1">
        <tr id="encabezado">
            <th>ID</th>
            <th>IDCARRERA</th>
            <th>NOMBRE</th>
            <th>SEMESTRE</th>
            <th>ABREVIACION</th>
            <th>CLAVE</th>
            <th>CREDITOS</th>
            <th>HORAS TEORICAS</th>
            <th>HORAS PRACTICAS</th>
            <th>PLAN DE ESTUDIO</th>
            <th>AGREGAR</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
        </tr>
        <tr>
            <td>0000</td>
            <td>0000</td>
            <td>Gestión de proyectos de sotware</td>
            <td>8</td>
            <td>GPS</td>
            <td>GP2-3V</td>
            <td>5</td>
            <td>2</td>
            <td>3</td>
            <td>2010</td>
            <td> <img class="btn" src="recursos/Plus_48px.png" alt=""> </td>
            <td> <img class="btn" src="recursos/Edit_48px.png" alt=""> </td>
            <td> <img class="btn" src="recursos/Cancel_48px.png" alt=""> </td>
        </tr>
    </table>
</div>



