.container{
    margin: 0 5%;
    font-family: fuente;
  
}
h1{font-family: fuente;

}
.form-control{
    width: 30%;
}

h3{
   font-family: fuente;
}
@font-face {
   font-family: fuente;
   src: url(Raleway-Light.ttf);
}
#dash{
    float: right;
   
    
}


.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   float: left;
   font-family: fuente;
}
table{
    width: 90%;
    margin: 0 5%;
    text-align: center;
}
img{
    cursor: pointer;
}
td{
    width: 10%;
 padding: 2%;
}

.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover {
   color: #f1f1f1;
}
.fila1{
    margin-left: 18.5%;
    margin-right: 1%;
}
.fila4{
    margin-left: 21%;
    margin-right: 1%;
   
}
.materiasAp{

    background-color: rgb(119, 150, 250);
    margin-top: 30px;
    height: 50px;
    width: 50px;
   border-radius: 9px;
  margin-right: 1%;
   float: left;
    
}
.ult{
    clear: left;
}
.materiasCur{
    background: cyan;
}
.materiasPen{
background: rgb(253, 231, 103);
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
p{
    float: left;
    
    margin: 0 1%;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}